#playlists-page {
    padding: 20px;
    padding-top: 0;
    overflow-y: scroll;
}

#playlists-page h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 15px;
}

#playlists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}
