#video-grid-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
}

#video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 15px;
}
