.channel-list-item {
    display: grid;
    grid-template-columns: 400px 400px 200px;
    height: 160px;
    padding-left: 100px;
}

.channel-list-item > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.channel-list-item img {
    width: 136px;
    height: 136px;
}
