.details-container {
    display: flex;
    flex-direction: column;
}

.details-container .details-container-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.details-container .details-container-title-small {
    margin: 0;
    margin-bottom: 5px;
    font-size: 0.88rem;
    font-weight: 500;
    color: black;
}
