.details-container {
    display: flex;
    flex-direction: column;
}

.details-container .details-container-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.details-container .details-container-title * {
    color: black;
}

.details-container .details-container-title-small {
    margin: 0;
    margin-bottom: 5px;
    font-size: 0.88rem;
    font-weight: 500;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.details-container .details-container-title-small * {
    color: black;
}
