#results-page {
    padding: 0 20px;
    overflow-y: scroll;
}

#results-page > div {
    display: flex;
    justify-content: flex-end;
}

#search-results-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#results-page-filter-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#results-page-filter-form > form {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}

#results-page-filter-form > form > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
#results-page-filter-form h3 {
    margin: 0;
}

#results-page-filter-form h4 {
    font-size: 0.75rem;
}

#results-page-filter-form ul {
    display: flex;
    flex-direction: column;
}

#results-page-filter-form li {
    margin: 8px 0;
    font-size: 0.8rem;
}

#results-page-filter-form li:hover {
    cursor: pointer;
}
