#subscriptions-page {
    overflow-y: scroll;
}

#subscriptions-page-header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-left: 25px;
    padding-right: 25px;
}

#subscriptions-page-header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
