#home-page {
    height: inherit;
    width: 100%;
}

#feed-section {
    overflow-y: scroll;
    overflow-x: hidden;
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
}
