.video-grid-item {
    height: 320px;
}
.video-grid-item > a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.video-grid-item figure {
    margin: 0;
}

.video-thumbnail {
    width: 360px;
    height: 240px;
    border-radius: 10px;
}

.video-details-wrapper {
    display: flex;
    gap: 10px;
}
