#channel-page {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
}

#channel-page > div {
    width: 980px;
}

#channel-banner {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 6/1;
}

#channel-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

#channel-header img {
    width: 160px;
    height: 160px;
}

#channel-header > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
}

#channel-header > div * {
    margin: 0;
}

#channel-header > div > h3 {
    font-size: 2rem;
}

#channel-header-btn-container {
    display: flex;
    gap: 10px;
}

#channel-page-tab-container {
    display: flex;
    gap: 24px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}
