#upload-video-form {
    position: absolute;
    top: -56px;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#upload-video-form .form1,
#upload-video-form .form2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 850px;
    border-radius: 10px;
    height: 500px;
    padding-bottom: 30px;
}

#upload-video-form .form2 {
    padding-bottom: 0;
}

#form2-main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    padding: 20px;
    overflow-y: scroll;
    border-bottom: 1px solid lightgray;
}

#form2-main > div:first-child > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#form2-main h3 {
    margin: 0;
}

#form2-main p {
    color: gray;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-top: 0.2rem;
}

.form2-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

#upload-video-form1-header,
#upload-video-form2-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

#upload-video-form1-header > h2,
#upload-video-form2-header > h2 {
    flex: 1 1 auto;
    font-size: 1.1rem;
    margin: 0;
}

#select-files-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-video-form > .form1 > p {
    color: gray;
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
    line-height: 1.2rem;
}
