#default-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    height: calc(100vh - 56px);
    position: relative;
    top: 56px;
}

#default-layout main {
    height: inherit;
    overflow-x: hidden;
}
