.info-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-container * {
    color: #606060;
    font-size: 0.88rem;
    line-height: 20px;
}

.info-container.small *:not(.dot) {
    color: #606060;
    font-size: 0.75rem;
    font-weight: 400;
}

.info-container p {
    margin: 3px 0;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-container a,
.info-container.small a {
    font-weight: 500 !important;
}

.info-container a:hover,
.info-container.small a:hover {
    color: black;
}

.dot {
    font-size: 0.2rem;
}
