body {
    font-family: "Roboto", "Arial", "sans-serif";
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    background-color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-pic {
    font-size: 1.2rem;
    background-color: purple;
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.flex-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.dot {
    font-size: 0.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    width: 200px;
    background-color: white;
    box-shadow: -3px -3px 15px rgba(230, 230, 230, 0.5);
}

.dropdown li {
    padding: 10px;
    font-size: 0.8rem;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown li * {
    font-size: 0.9rem;
}

.dropdown li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 10px;
}

.dislike {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.btn-icon {
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.btn-icon:hover {
    cursor: pointer;
    background-color: lightgray !important;
}

.btn-round {
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-round:hover {
    cursor: pointer;
    background-color: lightgray;
}

.btn-round-no-bg {
    padding: 10px;
    border-radius: 20px;
    background: none;
    border: none;
}

.btn-round-no-bg:hover {
    cursor: pointer;
    background-color: lightgray;
}

.btn-round-no-bg i {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-round-no-bg span {
    font-size: 0.75rem;
    font-weight: 600;
}

.btn-round-no-bg:disabled {
    background-color: lightgray;
    cursor: default;
}

.btn-like-no-bg {
    display: flex;
    align-items: center;
    gap: 2px;
}

.btn-like-no-bg span {
    font-size: 0.7rem;
}

.btn-like-no-bg button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 1.1rem;
    padding: 7px;
    border-radius: 20px;
}

.btn-like-no-bg button:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.btn-dislike-no-bg {
    display: flex;
    align-items: center;
    gap: 2px;
}

.btn-dislike-no-bg span {
    font-size: 0.7rem;
}

.btn-dislike-no-bg button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 1.1rem;
    padding: 7px;
    border-radius: 20px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.btn-dislike-no-bg button:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.btn-blue {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    background: none;
    border: none;
}

.btn-blue:hover {
    cursor: pointer;
    background-color: #def1ff;
}

.btn-blue * {
    color: blue;
    font-weight: 600;
    font-size: 0.82rem;
}
