.video-grid-item figure {
    margin: 0;
}

.video-thumbnail {
    max-width: 360px;
    aspect-ratio: 1.8/1;
    border-radius: 10px;
    object-fit: cover;
}

.video-details-wrapper {
    display: flex;
    gap: 10px;
    margin: 5px 0;
}
