#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    padding: 0 10px;
    position: fixed;
    width: calc(100% - 20px);
    background-color: white;
}

#header > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#brand a {
    display: flex;
    align-items: center;
    gap: 5px;
}

#brand i {
    color: red;
}

#brand span {
    font-size: 1.2rem;
    color: black;
}

#search-form {
    width: 480px;
    display: flex;
}

#search-form input {
    padding: 10px 15px;
    border-radius: 20px 0 0 20px;
    border: 1px solid lightgray;
    width: 100%;
}

#search-form input:focus {
    outline: 1px solid lightblue;
}

#search-form button {
    width: 60px;
    border-radius: 0 20px 20px 0;
    border: 1px solid lightgray;
    border-left: none;
    background-color: rgb(245, 245, 245);
}

#search-form button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#btn-menu {
    background-color: white;
    border: none;
}

#btn-menu {
    cursor: pointer;
}
