.video-details {
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.video-details > * {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    color: #606060;
}

.video-title {
    margin: 0;
    font-size: 0.95rem;
    font-weight: 500;
    color: black;
}
